* {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", "Playfair Display", "Times New Roman";
}

header {
    width: 100vw;
    min-height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
}

.headerbg {
    background-color: rgb(93, 61, 42);
    width: 100%;
    height: 300px;
    position: absolute;
    transition: transform 1s ease 0.5s;
    transform-origin: left;
    transform: skewY(0deg);
    z-index: -1;
}

.headerbg.skewed {
    transform: skewY(-7deg);
}

.headerContainer {
    width: 60%;
    border-radius: 3px;
    margin: 3rem auto;
    display: grid;
    grid-template-rows: 1fr 4fr;
    transition: transform 1s ease 0.25s, opacity 1s ease 0.25s;
    transform: translateY(50px);
    opacity: 0;
}

.headerContainer.loaded {
    transform: translateY(0px);
    opacity: 100;
}

.headerContainer > h1 {
    color: white;
    text-shadow: 0px 0px 10px black;
    justify-self: right;
    font-family: "Playfair Display";
}

.aboutContainer {
    background-color: white;
    box-shadow: 0px 0px 5px 0px black;
    grid-row: 2;
    padding: 3rem 2rem 1rem 2rem;
    display: flex;
    flex-direction: column;
}

.aboutContainer > img {
    float: left;
    max-width: 14rem;
    height: auto;
    margin: -7rem 2rem 0rem -3rem;
    border-radius: 3px;
    box-shadow: 0px 0px 5px 0px;
}

.aboutContainer > h2 {
    font-family: Roboto;
    margin-bottom: 0.5rem;
}

.aboutContainer > p {
    font-family: Roboto;
    font-size: large;
    color: rgb(80, 80, 80);
    word-spacing: 5px;
    line-height: 150%;
}

.socialLinks {
    display: flex;
    width: 5rem;
    height: 2.5rem;
    justify-content: center;
    gap: 15px;
    align-self: end;
}

.socialLinks a img {
    width: 100%;
    height: auto;
    transition: transform 0.4s ease-out 0s;
}

.socialLinks a img:hover {
    transform: scale(1.25) rotate(720deg);
}

@media (max-width: 800px) {
    .headerContainer {
        display: block;
        width: 80%;
    }
    .headerContainer > h1 {
        justify-self: center;
    }

    .aboutContainer {
        padding: 1rem;
    }

    .aboutContainer img {
        max-width: 100%;
        margin: 0px 0px 1rem 0px;
    }
}

section {
    display: flex;
    justify-content: center;
}

.myWorkContainer {
    width: 80vw;
    min-width: 750px;
    display: grid;
    grid-template-rows: 1.5fr 19fr;
    margin: 1rem 3rem;
    transition: transform 1s ease 0s, opacity 1s ease 0s;
    transform: translateY(50px);
    opacity: 0;
    will-change: transform, opacity;
}

.myWorkContainer.loaded {
    transform: translateY(0px);
    opacity: 100;
}

.myWorkContainer > h2 {
    justify-self: left;
}

.myWorkGrid {
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
}

.myWorkGrid > div {
    box-shadow: 0px 0px 5px 0px black;
}

.myWorkGrid > div > img {
    width: 100%;
    height: auto;
    aspect-ratio: 5 / 3;
    object-fit: cover;
}

.myWorkGrid > div > div {
    padding: 1rem;
}

.myWorkGrid > div > div > h3 {
    margin-bottom: 0.25rem;
}

@media (max-width: 800px) {
    .myWorkContainer {
        min-width: 300px;
        display: block;
    }
    .myWorkGrid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}

footer {
    background-color: rgb(93, 61, 42);
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 2rem 10vw;
    margin-top: 5rem;
    color: white;
}

footer > img {
    grid-column: 2;
    width: 100%;
    height: auto;
    align-self: center;
    box-shadow: 0px 0px 3px 0px black;
}

.footerInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.contactInfo {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.link {
    display: flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.link > img {
    height: auto;
    width: 2rem;
    filter: invert(100);
}

.footerSocialLinks {
    display: flex;
    width: 6rem;
    height: 2.5rem;
    justify-content: center;
    gap: 20px;
    justify-self: right;
    filter: invert(100);
}

.footerSocialLinks a img {
    width: 100%;
    height: auto;
    transition: transform 0.4s ease-out 0s;
}

.footerSocialLinks a img:hover {
    transform: scale(1.25) rotate(720deg);
}

@media (max-width: 650px) {
    footer > img {
        display: none;
    }

    footer {
        display: block;
    }
}

